<nav class="top-nav">
  <div class="nav-logo" >
    <a routerLink="/home" class="logo-link">SongGuesser</a>
</div>

  <div class="nav-links">
    <a routerLink="/home" class="nav-link">Home</a>
    <a routerLink="/game" class="nav-link">Jugar</a>
    <a routerLink="/ranking" class="nav-link">Ranking</a>
    <a routerLink="/profile" class="nav-link">Perfil</a>
    <a routerLink="/help" class="nav-link">Ayuda</a>
  </div>

  <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
</nav>
